<nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <!-- new links below-->
        <a href="/past">Past Work</a>
        <a href="/staff">Staff</a>
        <a href="/links">Partners</a>
        <a href="/contact">Contact Us</a>
      </nav>