<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<%- include('./partials/nav.ejs')%>

<body>
    <header>
    <h1>About Black Operations, Inc.</h1>
    </header>

    <div class="mainGrid">
        
    <div class="columnA">
    <h2>Welcome</h2>
    <p>
        Welcome to Black Operations Inc., a company steeped in history and tradition. We were founded in 1776, making us the first company to be incorporated in America. Our roots go deep, and our legacy spans centuries. 
    </p>
</div>  

<div class="columnB">
    <h2>Our Mission</h2>
    <p>
        At Black Operations Inc., our mission is to uncover the unseen, bring truth to light, and protect the interests of our clients. We've been at the forefront of every major event, working behind the scenes to ensure the safety and security of our nation. Whether it's investigating conspiracies, conducting covert operations, or advising world leaders, we are always on the cutting edge.
    </p>
    </div>

    <div class="columnC">
    <h2>Our History</h2>
    <p>
        Since our founding in 1776, we've had the honor of working with presidents dating back to John F. Kennedy. Our team of experts has also collaborated with conspiracy theorists and historians to delve into some of the most complex and intriguing stories of our time. Our involvement has shaped the course of history, though you'll seldom find our name in the headlines. We prefer it that way—working in the shadows, ensuring the work gets done.
    </p>
    </div>

<div class="columnD">
    <h2>Our Team</h2>
    <p>
        Our team is composed of former intelligence operatives, field agents, analysts, and technology experts. We pride ourselves on our diverse and highly skilled workforce. Every member of our team has a specific set of skills that contributes to our success. While we operate discreetly, our impact is undeniable.
    </p>
</div>

</div>

<div class="contact">
<h2>Contact Us</h2>
    <p><b>We will contact you if you need us.</b></p>
    </div>
</body>
</html>