<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<%- include('./partials/nav.ejs')%>
<body>
    <h1>Black Operations, Inc.</h1>
    
    <div class="mainGrid">
        
    <div class="column1">
    <h2>Unveiling the Truth</h2>
    <div class="text"><p>You’ve entered a place where the line between reality and conspiracy blurs, and we know you've been curious. Here at Black Operations Inc., we specialize in top-secret missions, cutting-edge intelligence, and operations that are off the radar. Since our establishment in 1776—the first corporation in America—we've worked with everyone from presidents to conspiracy theorists to uncover the truth and navigate the shadows.</p>
    </div>
    </div>

    <div class="column2">
    <h2>What We Do</h2>
    <div class="text"><p>Our team is comprised of field agents, intelligence analysts, and operatives who are dedicated to exploring the unknown. Whether it's investigating secret government projects, securing classified information, or providing discreet services, we're at the forefront of covert operations.</p>
    </div>
    </div>

    <div class="column3">
    <h2>Our Legacy</h2>
    <div class="text"><p>Over the centuries, we've built a reputation for getting results when others can't. From secret missions with JFK to advising on some of history's biggest mysteries, our work speaks for itself. But don't expect to find it in the history books—our stories are meant to be whispered, not shouted.</p>
    </div>
    </div>

    <div class="column4">
    <h2>Join the Network</h2>
    <div class="text"><p>We invite you to explore our site, learn about our partners, and visit the <a href="/contact">Contact Us</a> page if you're interested in joining our network. Whether you're seeking answers to the unexplained or want to contribute to our cause, there's a place for you in the shadows.</p>
    </div>
    </div>

    </div>
    
</body>



</html>

