nav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'wallpoet', 'Courier New', monospace;
    
    border: 7px solid transparent;
    background-clip: padding-box, border-box;
    box-decoration-break: clone;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('salute.png');
}

body > * {
    border: 7px solid transparent;
    background-clip: padding-box, border-box;
    box-decoration-break: clone;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 5px; 
}

body p {
    font-family: 'wallpoet', 'Courier New', monospace;
    color: whitesmoke;
    background-color: black;
}

h1 {
    color: whitesmoke;
    background-color: black;
    background-size: cover;
    height: 75px;
    align-content: center;
    text-align: center;
    font-family: 'wallpoet', 'Courier New', monospace;
}

h2, h3 {
    font-family: 'wallpoet', 'Courier New', monospace;
    background-color: black;
    color: white;
}

.staff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

img {
    position: relative;
    align-items: flex-start;
    max-height: 100%;
    max-width: 100%;
}

.staffA {
    background-image: url('rank1.png');
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: right;
    display: grid;
}

.staffB {
    background-image: url('rank2.png');  
    background-size: cover;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: right;
    display: grid;
}

.staffC {
    background-image: url('rank3.png');
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: right;
    display: grid;
}

.text {
    margin: 0 auto;
    text-align: center;
}